:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --body-size: 1.8rem;
  --head1-size: 2.4rem;
  --font: "Outfit", sans-serif;
}

/* 
 -----------
 #Global
------------
 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  height: 100%;
  margin-block: 4rem;
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  font-size: var(--body-size);
  padding: 2rem;
  color: var(--Soft-blue);
  font-family: var(--font);
  height: 100vh;
}

a {
  color: currentColor;
}

/* 
--------------------
 #Block & Element
--------------------
 */

.card {
  max-width: 35rem;
  border-radius: 10px;
  padding: 2.5rem;
}

.card--bg {
  background-color: var(--Very-dark-blue-card-BG);
}

.card__image-link {
  display: block;
  position: relative;
  margin-block-end: 3rem;
}

/* use as a hack to display the eye-shape block on hover */
.card__image-link:hover {
  --deplay-eye: block;
}

.card__image-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--Cyan);
  opacity: 0.5;
}

.card__image {
  max-width: 100%;
  border-radius: 10px;
}

.card__content {
  margin-block-end: 2rem;
  border-block-end: 1px solid var(--Very-dark-blue-line);
}

.card__description {
  margin-block-end: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.card__title {
  margin-block-end: 2rem;
  font-weight: 600;
}

.card__title:hover {
  color: var(--Cyan);
}

.card__price-detail {
  margin-block-end: 1.8rem;
  font-weight: 400;
}

.avatar__photo {
  max-inline-size: 3.8rem;
  border-radius: 50%;
  border: 1px solid var(--White);
  vertical-align: middle;
}

.avatar__name {
  font-weight: 400;
}

.avatar__link:hover {
  color: var(--Cyan);
}

.icon {
  margin-inline-end: 0.3rem;
  vertical-align: bottom;
  height: 1.9rem;
}

.eye-shape {
  position: relative;
  display: var(--deplay-eye, none);
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background-color: var(--White);
  border-radius: 70% 6px;
  transform: rotate(45deg);
  z-index: 2;
}

.eye-shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 9.4px;
  left: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 6px solid #0ea3a3f5;
  background-color: var(--White);
}

/*
---------------
 #Utilities
---------------
 */

/* use to place the eye-shape above the card_image */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* card_image */
.grid-item1 {
  grid-column: 1;
  grid-row: 1;
}

/* eye-shape */
.grid-item2 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.flex-align {
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.secondary-color {
  color: var(--White);
}

.primary-color {
  color: var(--Cyan);
}

.is-center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.is-at-the-bottom {
  margin-block-start: auto;
}

/* 
--------------
 #Attribution
--------------
 */

.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding-block-end: 3rem;
}

.attribution__link,
.attribution__name {
  color: hsl(228, 83%, 59%);
}
